APP_HOST=localhost
APP_PORT=8000
APP_URL=http://localhost:8000

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=db_pam_proyek1
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET="VrrQISTjQiDFsQ2MF794w4cFaQo2daqzGLuMpA+eWng="

# APP_URL digunakan untuk membangun URL gambar yang dapat diakses secara publik.
# Saat deploy, ubah nilainya menjadi URL server kamu.
# Contoh: https://pam-2026-proyek1-ifs23044-be.delcom.org:8080